* 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

ol, ul 
{
	list-style: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

body, html 
{
	background: #fafafa;
	width: 100%;
	/* height: 200%; */
	font-family: sans-serif;
}
/*Content*/
.content-bar
{
	position: absolute;
	top: 3.9em;
	left: 260px;
	transition: 1s;
	text-align: center;
}
.content-bar.active
{
	left: 0;
}

/*Header*/
#top-nav-bar
{
	box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
	font-size: 1em;
	position: fixed;
	width: 100%;
	z-index: 111;
	background-color: #f6f6f6;
}

/*Left-logo*/
#sticky-left-controls
{
	width: 250px;
	float: left;
	background-color: #17bab8;
}

#sticky-left-controls div
{
	display: inline-block;
	padding: 1em;
	color: white;
	font-weight: bold;
}

/*sticky middle controls*/
#sticky-middle-controls
{
	position: absolute;
	top: 1em;
	left: 50%;
}

#sticky-middle-controls a
{
	text-decoration: none;
	color: white;
	background-color: #17bab8;
	opacity: 0.8;
}

#sticky-middle-controls a:hover
{
	opacity: 1;
	text-decoration: underline;
}

/*Right controls styles*/
#sticky-right-controls
{
	width: calc(100% - 250px);
	float: left;
}

#toggle-sidebar:hover
{
	background-color: #16b1af;
	cursor: pointer;
}

.dropdown-content
{
	position: absolute;
	z-index: 11;
	display: none;
}

.dropdown-link
{
	float: right;
	padding: 1em;
	color: #848484;
	font-size: 1em;
}

.dropdown-link:hover
{
	cursor: pointer;
	background-color: lightgrey;
}

/*Left Navigation bar*/
#left-nav-bar
{
	position: fixed;
	top: 3.6em;
	left: 0;
	bottom: 0;
	width: 250px;
	color: #5f5f5f;
	font-size: 14px;
	display: block;
	transition: 1s;
	overflow: auto;
}
#left-nav-bar.active
{
	left: -50%;
}

::-webkit-scrollbar {
	background-color: #f1f1f1;
	width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border: solid 1px #ccc;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5); 
}

/*Person info*/
#person-info
{
	background-color: #35353b;
}

#person-image
{
	padding: 1em 0 0 1em;
	overflow: hidden;
}

#person-image a:hover
{
	color: #17bab8;
	cursor: pointer;
}

#person-photo
{
	float: left;
	width: 50px;
}

#person-photo img
{
	border-radius: 50%;
}

#person-name
{
	float: left;
	width: calc(100% - 50px);
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	text-align: right;
	padding: 1em;
}

#person-name a
{
	text-decoration: none;
	color: #968e8e;
	display: inline-block;
	padding: 0;
}

/*Extra settings*/
#extra-settings
{
	clear: both;
	/* display: inline-block; */
	padding: 1em;
	text-align: center;
}

#extra-settings a
{
	padding: 1em;
	text-decoration: none;
	color: #5f5f5f;
	display: inline-block;
}

#extra-settings a:hover
{
	background-color: #303035;
	color: #17bab8;
	cursor: pointer;
}
/*List of different items*/
#list-all
{
	background-color: #2c2c31;
}

#list-all .dropdown-list
{
	padding: 12px;
	padding-left: 20px;
}

#list-all h2
{
	border: 1px solid #27272b;
	padding: 20px;
}

#list-all ul li
{
	font-weight: bold;
}

#list-all ul li i
{
	padding-right: 10px;
}
.list-all-subtypes
{
	display: none;
	animation-name: slide-in;
	animation-duration: 0.5s;
}
@keyframes slide-in
{
	from{opacity:0; transform: translateX(-1em);}
	to{opacity:1; transform: translateX(0); }
}
.list-all-subtypes li
{
	border-left: 1px solid #27272b;
	padding-left: 0;
	padding: 12px;
	margin-left: 20px;
}
.list-all-subtypes li:hover
{
	background-color: #2c2c31;
	color: #1ca2a2;
}

#list-all ul .fa-angle-right
{
	float: right;
}
#list-all ul .dropdown-list:hover
{
	background-color: #3a3b44;
	color: #1ca2a2;
	cursor: pointer;
}

/*Search-bar styles*/
#search-bar
{
	width: 100%;
	padding: 0.5em;
	background-color: #f6f6f6;
	left: 0;
	text-align: center;
	box-shadow: 0px -0.1em 1em rgba(0,0,0,.05);
}

#search-input
{
	position: relative;
	width: 50%;
	border-bottom: 1px solid lightgrey;
	margin: 0 auto;
}

#search-input input
{
	background: transparent;
	text-align: left;
	padding: 0.5em 1em;
	width: 100%;
}

#search-input input:focus {
    background: #fafafa;
}

#search-input span
{
	position: absolute;
	right: .5em;
	top: .5em;
	color: #ccc;
}

/*extra styles*/
#extra-bar
{	
	width: 240px;
	border: 1px solid lightgrey;
	top: 3.9em;
	right: 6em;
	font-size: 0.8em;
	color: grey;
	background-color: white;
}

#extra-bar>div
{
	box-shadow: 1px 1px 1px lightgrey;
	padding: 15px;
}

#mail-form div
{
	background-color: #f1f1f1;
	float: left;
	width: 80px;
	height: 80px;
	margin: 12px;
	padding: 1.8em;
	border-radius: 5px;
}
.extra-bar-dropdown:hover
{
	color: #17bab8;
	cursor: pointer;
}

#mail-form:after
{
	content: "";
	display: block;
	clear: both;
	opacity: 0;
	height: 0;
}

/* sticky right controls Notificaton center*/
#notification-bar
{
	width: 240px;
	max-height: 320px;
	border: 1px solid #eee;
	overflow: auto;
	top: 3.9em;
	right: 4em;
	font-size: 0.8em;
	background-color: white;
	/*scolor: grey;*/
}

#notification-bar h2:hover
{
	color: #17bab8;
	cursor: pointer;
}

#notification-bar a {
	display: block;
	text-align: center;
	text-decoration: none;
	background: #f1f1f1;
	color: #333;
	font-weight: bold;
	border-top: solid 1px #dce0e0;
}

#notification-bar a:hover
{
	color: #17bab8;
	cursor: pointer;
}

#notification-bar li
{
	border-bottom: 1px solid #eeeeee;
	background-color: #fafafa;
	margin-bottom: 1em;
}
#notification-bar li div
{
	padding: 10px;
}
#notification-bar h2,a
{
	padding: 10px;
}

.user-image img
{
	border-radius: 50%;
	height: auto;
	width: 100%;
}

.user-image
{
	float: left;
	width: 4em;
}

.user-message
{
	float: left;
	width: calc(100% - 4em);
}
.user-message:hover
{
	color: #17bab8;
	cursor: pointer;
}

#messenger-name li:after
{
	content: "";
	display: block;
	clear: both;
	opacity: 0;
	height: 0;
}
/*Chat-box*/
#chat-box-bar
{
	position: fixed;
	width: 200px;
	font-size: .8em;
	border: solid 1px #dce0e0;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	top: 3.9em;
	right: -400px;
	bottom: 0;
	background-color: white;
	transition: all .5s ease-in-out;
	display: block;
	overflow: auto;
}

#chat-box-bar.show {
	right: 0;
}
.show
{
	display: block;
}
