* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fafafa;
}
#top-nav-bar
{
	box-shadow: 1px 1px 10px lightgrey;
}
#site-logo
{
	width: 200px;
	display: inline-block;
	background-color: #17bab8;
}
#site-logo div
{
	display: inline-block;
	padding: 20px;
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: cursive;
}
#toggle-leftbar
{
	width: 1100px;
	text-align: right;
	display: inline-block;
}
#toggle-leftbar div
{
	display: inline-block;
	padding: 20px;
	color: grey;
}
#search-bar
{
	width: 100%;
	height: 100px;
	position: absolute;
	background-color: lightgrey;
}
.dropdown-content
{
	display: none;
}
#search-bar input
{
	width: 50%;
	position: absolute;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#extra-bar
{	width: 220px;
	box-shadow: 1px 1px 10px;
}
#extra-bar>div
{
	border: 1px solid lightgrey;
	padding: 10px;
}
#mail-form div
{
	background-color: lightgrey;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 5px;
}

