/*Content of the page*/
.products-card
{
	width: 200px;
	height: 40%;
	border-radius: 10px;
	display: inline-block;
	margin: 20px;
	transition: 0.5s;
	border-bottom: 0.5em solid #eee;
	position: relative;
	overflow: hidden;
}
.products-card:hover
{
	transform: scale(1.07,1.07);
	transform: rotateX(-10deg);
	box-shadow: 1px 1px 30px rgba(0,0,0,.2);
	cursor: pointer;
}

.products-card:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 100%;
    right: 0;
    bottom: 0;
    background: #fcfcfc;
    border-radius: 10px;
    z-index: -1;
    transition: all .25s linear;
}

.products-card:hover:after {
    left: 0;
    top: 0;
}

.thumbnail
{
	width: 100%;
	height: 200px;
}
.thumbnail p
{
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	font-size: 9em;
	text-align: center;
	color: #eee;
	line-height: 1.5em;
}

.products-price
{
	width: 70%;
	float: left;
	padding: .75em 1em;
}
.products-price h1
{
	font-size: 1em;
	text-align: left;
	font-style: italic;
}

.add-to-cart
{
	width: 30%;
	height: 20%;
	padding: 1.55em 0;
	border-top-left-radius: 100%;
	text-align: center;
	background-color: rgba(23, 186, 184, 0.42);
	color: white;
	transition: width 0.5s, height 1s, border-top-left-radius 1s;
	position: absolute;
	right: 0;
	bottom: 0;
}
.products-detail
{
	display: none;
	padding: 0.8em;
	text-align: center;
}
.products-detail div
{
	margin-bottom: 1.2em;
}
.products-detail .color
{
	font-size: 0.8em;
	color: black;
}

.products-detail .star
{
	background-color: #2c2c31;
	opacity: 0.8;
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 5px;
	font-size: 0.9em;
}

.products-detail .price
{
	font-weight: bold;
	font-size: 1em;
}

.products-detail .offers a
{
	text-decoration: none;
	color: crimson;
	font-style: italic;
	font-size: 1.1em;
}

.products-detail .offers a:hover
{
	text-decoration: underline;
}

.add-to-cart:hover 
{
	height: 100%;
	width: 100%;
	border-radius: 10px 10px 0 0;
	border-top-left-radius: 10px;
	background-color: rgb(23, 186, 184);
}
.add-to-cart:hover i
{
	display: none;
}
.add-to-cart:hover .products-detail
{
	display: block;
}
.show
{
	display: block;	
}