* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fafafa;
}

#top-nav-bar
{
	box-shadow: 1px 1px 10px lightgrey;
	position: fixed;
	width: 100%;
}

#sticky-left-controls
{
	width: 250px;
	float: left;
	background-color: #17bab8;
}

#sticky-left-controls div
{
	display: inline-block;
	padding: 20px;
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: cursive;
}

/*Right controls styles*/
#sticky-right-controls
{
	width: calc(100% - 250px);
	float: left;
}
.dropdown-content
{
	position: absolute;
	display: none;
}
.dropdown-link
{
	float: right;
	padding: 20px;
	color: grey;
}
/*Search-bar styles*/
#search-bar
{
	width: 100%;
	padding: 1.8em;
	background-color: white;
	left: 0;
	text-align: center;
	box-shadow: 1px 1px 10px lightgrey
}

#search-input
{
	position: relative;
	width: 60%;
	border: 1px solid lightgrey;
	margin: 0 auto;
	padding: 0.5em;
	padding-left: 1.2em;
}

#search-input input
{
	text-align: left;
	width: 100%;
	padding-left: 5px;
}

#search-input span
{
	position: absolute;
	left: 5px;
}
/*extra styles*/
#extra-bar
{	width: 220px;
	box-shadow: 1px 1px 10px;
}
#extra-bar>div
{
	border: 1px solid lightgrey;
	padding: 10px;
}
#mail-form div
{
	background-color: lightgrey;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 5px;
}
#notification-bar
{
	height: 500px;
	border: 1px solid lightgrey;
	overflow: scroll;
}
#notification-bar div
{
	border: 1px solid lightgrey;
	padding: 10px;
}

#user-image img
{
	border-radius: 50%;
	width: 100%;
}
#user-image
{
	float: left;
	width: 4em;
}
#user-message
{
	float: left;
	width: calc(100% - 4em)
}

#messenger-name li:after
{
	content: "";
	display: block;
	clear: both;
	opacity: 0;
	height: 0;
}

