/*Login page*/
#login-form
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#login-form.active
{
	display: none;
}
#login-input input
{
	background-color: #17bab8;
	font-size: 0.9em;
	padding: 5px;
	border-radius: 5px;
	color: white;
	box-shadow: 1px 1px 10px lightgrey;
	margin-top: 10px;
}
#login-input input:hover
{
	cursor: pointer;
}
#login-input span
{
	font-size: 0.8em;
	text-decoration: underline;
}
#login-input span:hover
{
	cursor: pointer;
	color: #1f9595;
}
/*Common for both*/
.forms-container
{
	box-shadow: 1px 1px 10px lightgrey;
	border-radius: 10px;
	margin: 20px;
	width: 450px;
	padding: 20px;
	float: left;
	background-color: white;
}
.forms-heading
{
	background-color: #17bab8;
	padding: 20px;
	border-radius: 10px 10px 0 0;
}
.forms-heading h1
{
	font-size: 2em;
	color: white;
}
.sign-up-input
{
	background-color: #efefef;
	padding: 50px;
	border-radius: 10px;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.sign-up-input h2
{
	color: #827d7d;
	font-size: 0.9em;
	padding-top: 10px;
	padding-bottom: 5px;
}
.sign-up-input input
{
	width: 100%;
	font-size: 0.8em;
	padding: 5px;
	box-shadow: 1px 1px 10px lightgrey;
}
.sign-up-input input:first-of-type
{
	margin-bottom: 5px;
}
/*Sign up page*/
#sign-up-form
{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: none;
}
#sign-up-form.active
{
	display: block;
}
#sign-up-submit input
{
	background-color: #17bab8;
	font-size: 0.9em;
	padding: 5px;
	border-radius: 5px;
	color: white;
	box-shadow: 1px 1px 10px lightgrey;
	margin-top: 10px;
}
#sign-up-submit input:first-child
{
	margin-right: 25%;	
}
#sign-up-submit span
{
	font-size: 0.8em;
	margin-top: 10px;
}